codewars/5kyu/Extract the domain name from a URL/index.js
codewars/5kyu/Extract the domain name from a URL/README.md
codewars/6kyu/Fun with lists: countIf/index.js
codewars/6kyu/Fun with lists: countIf/README.md
